.bg-content.login

	.left
		
		
		
	.right
		.inner
			.title
				Insira seus dados para acessar o painel MODER DELIVER

			= simple_form_for resource, url: session_path(:user) do |f|
				= f.input :email
				= f.input :password
				.actions
					= link_to "Esqueceu sua senha?", new_password_path(:user)
					%button Entrar
				